<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.message.MessageMapper">
	<!-- findBy -->
	<select id="findBy" resultType="message" parameterType="message">
		SELECT *  FROM message WHERE Id=#{Id} and
									 allType=#{allType} and
									 childType=#{childType} and
									 mainTitle=#{mainTitle} and
									 viceTitle=#{viceTitle} and
									 provenance=#{provenance} and
									 newAuthor=#{newAuthor} and
									 releaseTime=#{releaseTime} and
									 releaseMan=#{releaseMan} and
									 modifyTime=#{modifyTime} and
									 modifyMan=#{modifyMan} and
									 auditState=#{auditState} and
									 auditMan=#{auditMan} and
									 auditTime=#{auditTime}
    </select>
</mapper>
